.kormapp-modal-wrapper
  .kormapp-modal-window{ role: 'modal-content' }
    .kormapp-modal-window-white
      %h1.kormapp-modal-title Кому доставка?
      %form.order-data{:name => "message", method=> "post"}
        %section
          %label{:for => "phone"} Телефон:
          .kormapp-phone-input-group
            .kormapp-phone-input-prefix= @phone_prefix
            %input#kormapp-phone.kormapp-phone-input{:type => "tel", :name => "phone", :placeholder => "XXX-XXX-XXXX", minlength: 10, maxlength: 15}
          %label{:for => "address"} Ваш адрес:
          %input#kormapp-address{:type => "text", :name => "address"}

        %p.kormapp-form-comment
          обязательно введите
          %br
          свой телефон для связи

      .full.kormapp-check-button.kormapp-delivery.kormapp-reflection
        %a.kormapp-check-button-link{:href => "#777"}
          %span.kormapp-delivery-button ДОСТАВИТЬ ЗАКАЗ

      //%input.hide{type: 'submit', role: 'delivery-submit'}
