.modal-wrapper
  .dark-background
  .modal-window
    .column.full.modal-content
      .order-info-title= "ВАШ ЗАКАЗ №#{@orderId} ПРИНЯТ!"
      .order-info-content= "Ожидайте звонка оператора для уточнения адреса доставки"

      %a.button{:href => '#'} 
        %span ГОТОВО