.modal-window
  .column.full
    .quantity-title Введите количество
    %table.quantity-table
      %tr
        %td
          %p.price
            %span.price-font 30
            р.
        %td
          %p.multiplier x
            %span.multiplier-font 3 =
        %td
          %p.price
            %span.price-font 30
            р.
    
    .quantity-selector
      %a.plus-sign{:href => '#'} +
      3 шт
      %a.minus-sign{:href => '#'} -

    %a.button{:href => '#'} 
      %span ГОТОВО