.kormapp-modal-wrapper
  .kormapp-dark-background
  .kormapp-modal-window
    .kormapp-modal-window-white.kormapp-column.full
      .kormapp-quantity-title Введите количество
      %table.kormapp-quantity-table
        %tr
          %td
            %p.kormapp-price
              %span.kormapp-price-font!= @moneyWithoutCurrency @product.get 'price'
              р.
          %td
            %p.kormapp-multiplier x
              %span.kormapp-multiplier-font.kormapp-quantity= @quantity
              \=
          %td
            %p.kormapp-price.kormapp-result!= @money @total_cost

      .kormapp-quantity-selector
        %a#kormapp-minus-sign{:href => '#'} -
        %span.kormapp-quantity #{@quantity}
        шт
        %a#kormapp-plus-sign{:href => '#'} +

      %a.kormapp-modal-button{:href => '#'} 
        %span.kormapp-modal-button-text ГОТОВО
