.modal-wrapper
  .dark-background
  .modal-window
    .column.full
      .quantity-title Введите количество
      %table.quantity-table
        %tr
          %td
            %p.price
              %span.price-font!= @money @product.price
              р.
          %td
            %p.multiplier x
              %span.multiplier-font.quantity= @quantity
              \=
          %td
            %p.price
              .result!= @money @total_cost

      .quantity-selector
        %a#plus-sign{:href => '#'} +
        %span.quantity #{@quantity}
        шт
        %a#minus-sign{:href => '#'} -

      %a.button{:href => '#'} 
        %span ГОТОВО
