.kormapp-modal-wrapper
  .kormapp-dark-background
  .kormapp-modal-window
    .kormapp-column.full
      %h2.kormapp-vendor-title!= @mobile_subject
      .kormapp-vendor-description!=  @mobile_description

      %a.kormapp-modal-button{:href => '#'} 
        %span.kormapp-modal-button-text ЗАКРЫТЬ