.kormapp-modal-wrapper
  .kormapp-modal-window.kormapp-modal-without-alignment
    .kormapp-column.kormapp-full
      %h2.kormapp-vendor-title{role: 'kormapp-vendor-title'}
      .kormapp-vendor-description{role: 'kormapp-vendor-description'}

      %a.kormapp-modal-button.kormapp-reflection{:href => '#', role: 'kormapp-modal-button'} 
        %span.kormapp-modal-button-text OK

    .kormapp-vendor-footer
      %span.kormapp-vendor-city{role: 'kormapp-vendor-city'}
      %span.kormapp-app-version
        Версия
        != @version
        \.
      %span.kormapp-app-update{role: 'kormapp-app-update'}
        Последнее обновление от
        != @lastUpdateAt
