.kormapp-modal-wrapper
  .kormapp-dark-background
  .kormapp-modal-window.kormapp-modal-without-alignment
    .kormapp-column.full
      %h2.kormapp-vendor-title
      .kormapp-vendor-description

      %a.kormapp-modal-button{:href => '#'} 
        %span.kormapp-modal-button-text OK

    .kormapp-vendor-footer
      %span.kormapp-app-version
        Версия
        != @version
        \.
      %span.kormapp-app-update
        Последнее обновление от
        != @lastUpdateAt
