.kormapp-narrow-layout
  %div{role: 'kormapp-categories-region'}
  %div{role: 'kormapp-header-region'}
  .kormapp-content
    %div{role: 'kormapp-products-region'}
  .kormapp-footer{role: 'kormapp-footer-region'}
  %div{role: 'kormapp-check-region'}
  %div{role: 'kormapp-modal-region'}
