.kormapp-wide-layout
  %div{role: 'kormapp-header-region'}
  .kormapp-content
    .kormapp-container
      .kormapp-sidebar-column{role: 'kormapp-sidebar-region'}
        %div{role: 'kormapp-sidebar-categories-region'}
        .kormapp-sidebar-check{role: 'kormapp-sidebar-check-region'}
      .kormapp-products-column{role: 'kormapp-products-region'}
  .kormapp-footer{role: 'kormapp-footer-region'}
  %div{role: 'kormapp-modal-region'}
