.row.clearfix
  #logo.column.half
    %img{:src => "images/_logo.png"}
    %p Доставка <br> пончиков
  #check.column.half
    %img{:src => "images/_header-check.png"}
    %p ваш заказ на 
      %br
      %span#amount 565 руб.