.kormapp-row.clearfix
  #kormapp-logo.kormapp-column.half
    %img.kormapp-logo-image{:src => "kormapp/images/logo.png"}
    %p.kormapp-logo-text Доставка <br> пончиков
  #kormapp-top-check.kormapp-column.half
