.kormapp-container
  .kormapp-row-clearfix
    .kormapp-column.kormapp-half.kormapp-reflection{role: 'kormapp-logo'}
      %p.kormapp-logo-text{role: 'kormapp-logo-text'}
    .kormapp-column.kormapp-half
      .pull-right{role: 'kormapp-top-check'}
      .clearfix
