.kormapp-container
  .kormapp-row-clearfix
    #kormapp-logo.kormapp-column.kormapp-half.kormapp-reflection
      .kormapp-logo-wrapper
        %img.kormapp-logo-image
      %p.kormapp-logo-text
    #kormapp-top-check.kormapp-column.kormapp-half
