.kormapp-container
  .kormapp-row-clearfix
    .kormapp-column.kormapp-half.kormapp-reflection{role: 'kormapp-logo'}
      .kormapp-logo-wrapper
        %img.kormapp-logo-image
      %p.kormapp-logo-text{role: 'kormapp-logo-text'}
    .kormapp-column.kormapp-half{role: 'kormapp-top-check'}
