.kormapp-container
  .kormapp-row-clearfix
    .kormapp-column.kormapp-half.kormapp-reflection{role: 'kormapp-logo'}
      .kormapp-header-menu
        %a.kormapp-header-menu-item{href: '#'} О нас
        |
        %a.kormapp-header-menu-item{href: '#'} Оплата и доставка
        |
        %a.kormapp-header-menu-item{href: '#'} Контакты

    .kormapp-column.kormapp-half{role: 'kormapp-top-check'}
