.kormapp-categories-list
  margin-bottom: 1em

.kormapp-category-item
  display: block
  color: $check-font-color
  padding:
    top: 0.3em
    bottom: 0.3em
  &:hover
    color: darken($check-font-color,10%)
