.categories-list-narrow
  position: fixed
  top: -300px
  left: 0
  width: 100%
  z-index: 200

  & .list-container
    height: 300px
    width: 300px
    margin: 0 auto
    background-color: #ccc
  & .pull-tag
    height: 50px
    width: 50px
    background-color: #eee
    margin: 0 auto