.kormapp-content
  width: 100%
  max-width: $body-max-width
  background-color: $grey-background-color
  padding-top: 14px
  padding-bottom: 14px
  height: 100%
  overflow: scroll

.kormapp-product-block
  padding: 8px
  margin: 12px
  margin-top: -6px
  background: #fff
  position: relative
  border-bottom: 3px solid $product-item-shadow-color

img.kormapp-product-image
  height: 92px
  width: 83px
  display: inline-block
  float: left

p.kormapp-product-title
  margin-left: 90px
  font-family: $base-font-family
  font-size: $product-name-font-size
  color: $grey-font-color
  line-height: 1.1

.kormapp-product-in-list-price
  position: absolute
  margin-left: 90px
  bottom: 7px
  color: $orange-font-color
  font-family: $base-font-family
  font-size: $product-rouble-font-size

  .kormapp-price-font
    // Слишком жирно на android
    // font-weight: bold
    font-size: $product-price-font-size

a.kormapp-in-order
  background: $button-orange-color!important

a.kormapp-order-button
  text-decoration: none
  font-family: $base-font-family
  font-size: $button-font-size
  padding: 5px
  min-width: 110px
  text-align: center
  color: #fff
  background: $button-blue-color
  position: absolute
  top: 74px
  right: 7px

span.kormapp-to-bucket
  width: 15px
  height: 15px
  display: inline-block
  vertical-align: top
  margin-right: 2px
  background-size: contain
  background-repeat: no-repeat

.kormapp-to-bucket-orange
  background-image: url("../kormapp/images/to-bucket-orange.png")

.kormapp-to-bucket-regular
  background-image: url("../kormapp/images/to-bucket.png")

span.kormapp-order-button-text
  line-height: 1.7
