.content
  height: 100%
  background-color: $grey-background-color
  padding-top: 14px
  margin-bottom: 80px
  margin-top: 62px

  .product-block
    padding: 8px
    margin: 12px
    margin-top: -6px
    background: #fff
    position: relative

    img
      height: 92px
      width: 83px
      display: inline-block
      float: left

    p
      margin-left: 90px
      font-family: $base-font-family
      font-size: $product-name-font-size
      color: $grey-font-color
      line-height: 1.1

    .price
      padding-top: 22px
      color: $orange-font-color
      font-family: $base-font-family
      font-size: $product-rouble-font-size

      .price-font
        font-weight: bold
        font-size: $product-price-font-size

    a
      text-decoration: none
      font-family: $base-font-family
      font-size: $button-font-size
      padding: 5px
      width: 110px
      text-align: center
      color: #fff
      background: $button-blue-color
      position: absolute
      top: 74px
      right: 7px

      img
        height: 15px
        width: 15px
        margin-right: 5px
        float: none
        vertical-align: top

      span
        line-height: 1.7
