.kormapp-footer
  position: fixed
  bottom: 0
  width: 100%
  max-width: $body-max-width
  z-index: 100
  height: 60px
  background: $footer-background-color
  font-family: $base-font-family
  color: $grey-font-color
  text-align: center

  .kormapp-free-delivery
    color: $orange-font-color

  .kormapp-footer-content
    height: 60px
    background-color: $blue-background-color
    border-top: 2px solid $grey-blue-border-color
    padding: 20px

    a.kormapp-checkout
      color: $white-font-color
      font-size: $footer-confirm-font-size
      text-decoration: none

  .kormapp-delivery-discount
    padding-top: 10px
    padding-bottom: 15px