.kormapp-body

.kormapp-body-ios
  background-color: $header-background-color
  margin: 0 auto
  width: 100%
  height: 100%


#kormapp-container
  position: fixed
  margin: 0 auto
  //background-color: $content-bg
  margin-bottom: $footer-height
  width: 100%
  height: 100%
  padding-top: 55px
  .kormapp-body-ios7 &
    padding-top: 75px

.kormapp-container
  +container-fixed()
  @media (min-width: $screen-sm-min)
    width: $container-sm
  @media (min-width: $screen-md-min)
    width: $container-md
  @media (min-width: $screen-lg-min)
    width: $container-lg
  padding:
    left: 0
    right: 0

.kormapp-column
  float: left
  margin-left: 5%
  &:first-child
    margin-left: 0
  &.full
    width: 100%
  &.two-thirds
    width: 65%
  &.half
    width: 47.5%
  &.one-third
    width: 30%
  &.one-fourth
    width: 21.25%

.kormapp-row
  overflow: hidden

//.kormapp-web-desktop

//.kormapp-web-mobile

//.kormapp-cordova-android

//.kormapp-cordova-ios
