.kormapp-container
  margin: 0 auto
  max-width: $body-max-width
  background-color: #eee
  padding-top: 63px
  padding-bottom: 40px
  height: 100%

.kormapp-column
  float: left
  margin-left: 5%
  &:first-child
    margin-left: 0
  &.full
    width: 100%
  &.two-thirds
    width: 65%
  &.half
    width: 47.5%
  &.one-third
    width: 30%
  &.one-fourth
    width: 21.25%

.kormapp-row
  overflow: hidden
