.kormapp-body-ios
  background-color: $header-background-color
  margin: 0 auto
  width: 100%
  height: 100%

%kormapp-application-container
  position: fixed
  margin: 0 auto
  //background-color: $content-bg
  margin-bottom: $footer-height
  width: 100%
  height: 100%
  padding-top: $header-padding-top
  .kormapp-body-ios7 &
    padding-top: $header-padding-top + 20px
  &.kormapp-wide-layout
    height: $app-container-height

.kormapp-web-desktop,
.kormapp-web-mobile,
.kormapp-cordova-android,
.kormapp-cordova-ios
  @extend %kormapp-application-container
  @extend %base-font

.kormapp-sidebar-column
  @extend .kormapp-column
  @extend .kormapp-one-fourth
  @extend .kormapp-sidebar-container

.kormapp-products-column
  @extend .kormapp-column
  @extend .kormapp-three-fourth
  @extend .kormapp-products-container

