.kormapp-modal-wrapper
  top: 0
  position: fixed
  height: 100%
  width: 100%
  z-index: 140
  max-width: $body-max-width
  font-family: $base-font-family

  .kormapp-dark-background
    width: 100%
    height: 100%
    background-color: #000
    z-index: 140
    opacity: 0.6

  .kormapp-modal-window
    margin: auto
    position: absolute
    top: 0
    left: 12px
    bottom: 0
    right: 12px
    background-color: #FFF
    height: 160px
    text-align: center

    .kormapp-quantity-title
      padding: 15px 0 8px
      color: #f2795a

    .kormapp-quantity-table
      text-align: center
      margin: 0 auto

      .kormapp-price
        color: $orange-font-color
        font-family: $base-font-family
        font-size: $product-rouble-font-size

        .kormapp-price-font
          font-size: $product-price-font-size

      .kormapp-multiplier
        color: $blue-background-color
        font-size: 28px
        margin: 0 8px

        .kormapp-multiplier-font
          font-size: $product-price-font-size

    .kormapp-quantity-selector
      margin: 10px auto 10px
      color: $blue-background-color

      #kormapp-plus-sign, #kormapp-minus-sign
        color: $blue-background-color
        font-size: $modal-quantity-buttons-text-size
        display: inline-block
        width: 27px
        height: 27px
        border: 1px solid $blue-background-color
        text-decoration: none

    a.kormapp-modal-button
      display: inline-block
      text-decoration: none
      font-family: $base-font-family
      font-size: $button-font-size
      padding: 5px
      width: 110px
      text-align: center
      color: $white-font-color
      background-color: $button-orange-color

      span.kormapp-modal-button-text
        line-height: 1.7