/*==========  CHECKOUT  ==========*/

.checkout-state
  height: 100%
  overflow: hidden
  padding-bottom: 80px

.checkout-state

  .content
    margin-top: 0

  .footer
    border-top: 3px solid $grey-border-color
    height: 98px

    #check-bottom
      height: 35px

      #check-bottom-hidden
        margin: 21px 8px 0

        .check-short-left
          height: 8px
          width: 4px
          float: left
          background: url('../images/footer-check-short-left.png') no-repeat

        .check-short-right
          height: 8px
          width: 4px
          float: right
          background: url('../images/footer-check-short-right.png') no-repeat

        .check-short-center
          height: 8px
          margin: 0 auto
          background: url('../images/footer-check-short-center.png') repeat-x

        .check-short-battlement
          height: 15px
          margin: -15px 4px 0

          .check-short-battlement-center
            height: 15px
            background: url('../images/check-battlement-center.png') 50% 20% repeat-x
            background-size: contain

/*==========  MODAL WINDOWS  ==========*/

.modal-state
  height: 100%
  overflow: hidden