/*==========  Measurements  ==========*/

$app-container-height: 607px
$grid-gutter-fixed: 34px
$grid-gutter: $grid-gutter-fixed/1140px*1%

/*----- responsive breakpoints -----*/
$screen-xs:                  480px !default
$screen-xs-min:              $screen-xs !default

// Small screen / tablet
$screen-sm:                  768px !default
$screen-sm-min:              $screen-sm !default

// Medium screen / desktop
$screen-md:                  992px !default
$screen-md-min:              $screen-md !default

// Large screen / wide desktop
$screen-lg:                  1200px !default
$screen-lg-min:              $screen-lg !default

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default
$screen-sm-max:              ($screen-md-min - 1) !default
$screen-md-max:              ($screen-lg-min - 1) !default

// Media queries for product block
$product-screen-xs: 360px
$product-screen-sm: 640px
$product-screen-md: 720px
$product-screen-lg: 1040px



/*==========  Colors  ==========*/

/*-----  base colors  ------*/
$white-color: #fff
$black-color: #000
$orange-color: #f2795a
$grey-color: #eee
$darkgrey-color: #999
$blue-color: #72bab6

/*-----  border colors  ------*/
$orange-border-color: #d06b52
$grey-border-color: #c5c5c5
$darkgrey-border-color: #7f7f7f
$grey-blue-border-color: #68a9a5

/*-----  font colors  ------*/
$button-font-color: $white-color
$modal-vendorpage-font-color: $white-color
$check-font-color: #666
$check-form-font-color: #666
$footer-font-color: #666
$footer-free-delivery-font-color: $orange-color
$footer-button-font-color: $white-color
$product-block-title-font-color: #666
$check-form-comment-font-color: $orange-color
$price-font-color: $orange-color

/*-----  UI colors  ------*/
$header-background-color: $orange-color
$content-background-color: $grey-color
$product-block-shadow-color: #dfdfdf
$product-block-background-color: $white-color
$check-background-color: $grey-color
$check-bottom-background-color: #d8d8d8
$modal-background-color: $white-color
$modal-wrapper-background-color: $black-color
$modal-quantity-selector-buttons-color: $blue-color
$modal-quantity-selector-buttons-background-color: $white-color
$footer-background-color: #d8d8d8
$footer-checkout-button-background-color: $blue-color
$footer-delivery-button-inactive-background-color: $darkgrey-color
$footer-delivery-button-background-color: $orange-color
$button-blue-color: $blue-color
$button-orange-color: $orange-color
$input-background-color: #e5e5e5

/*-----  Shades  ------*/

$product-block-dark: darken( $product-block-background-color, 10% )
$footer-discount-button-dark: darken( $footer-background-color, 10% )
$footer-checkout-button-dark: darken( $blue-color, 10% )
$footer-delivery-button-dark: darken( $orange-color, 10% )
$modal-button-dark: darken( $orange-color, 10% )
$modal-plus-minus-buttons-dark: darken( $white-color, 10% )
$back-button-bg-pressed: #eee
$content-bg: #eee


/*----- Sizes --------*/

$footer-height: 60px
$header-padding-top: 55px
$check-container-margin: 12px
$check-internal-bottom-padding: 73px
$check-bottom-deck-height: 35px
$check-bottom-deck-padding: 22px
$header-height: 60px
$header-height-desktop: 263px
$border-height: 3px
$border-height-desktop: 6px


