.kormapp-row-clearfix{role: 'kormapp-workspace'}
  .kormapp-column.kormapp-full.kormapp-delivery-discount.kormapp-reflection{role: 'kormapp-delivery-discount'}
    %p.kormapp-footer-offer{role: 'kormapp-footer-offer'}
    %p.kormapp-free-delivery{role: 'kormapp-free-delivery'}
