.row.clearfix#check-start
  .column.full
    .check-bottom#check-bottom-hidden
      .check-short-battlement
        .check-short-battlement-center
      .check-short-left
      .check-short-right
      .check-short-center
.row.clearfix#workspace
  .column.full
    %p Выберите блюдо на заказ.
    %p.free-delivery Доставка бесплатно от 500 руб.