%p.kormapp-cartitem-name
%table
  %tbody
    %tr
      %td.kormapp-product-amount
        %span.kormapp-cartitem-product-price
        x
        %span.kormapp-cartitem-product-quantity
      %td.kormapp-separator
        .separator-placeholder
      // TODO Мультивалютность
      %td.kormapp-product-price