#kormapp-check-external.center
  #kormapp-check-internal

    .check-content
      .scrollable-check
        .check-header
          %a{href: '#'}
            %span.back-button
          %h2 Ваш чек

        %ol.cart-items

      .unscrollable-check

        .row.clearfix
          %p.all-product-sum Итог:
            %span.all-sum-right!= @money @total_cost

        %form{:name => "message", method=> "post"}
          %section
            %label{:for => "phone"} Телефон:
            %input#kormapp-phone{:type => "tel", :name => "phone", :placeholder => "+7(999)999-99-99"}
            %label{:for => "address"} Ваш адрес:
            %input#kormapp-address{:type => "text", :name => "address"}

        %p.form-comment
          обязательно введите свой телефон для связи
  
  #kormapp-check-bottom-container
    #kormapp-check-bottom
      .check-short-left
      .check-short-right
      .check-short-center

    .full.check-button{class: 'delivery'}
      %a.button{:href => "#777"} ДОСТАВИТЬ ЗАКАЗ