%p.kormapp-cartitem-name{role: 'kormapp-cartitem-name'}
%table
  %tbody
    %tr
      %td.kormapp-product-amount
        %span.kormapp-cartitem-product-price{role: 'kormapp-cartitem-product-price'}
        x
        %span.kormapp-cartitem-product-quantity{role: 'kormapp-cartitem-product-quantity'}
      %td.kormapp-separator
        .separator-placeholder
      // TODO Мультивалютность
      %td.kormapp-product-price{role: 'kormapp-product-price'}
