#check-top-external
  #check-top-internal.center
    .check-top-battlement
      .check-top-battlement-center

    .check-content
      .scrollable-check
        .check-header
          %a{href: '#'}
            %img{src: 'images/back-button.png'}
          %h2 Ваш чек

        .cart-items

      .unscrollable-check

        .row.clearfix
          %p.all-product-sum Итог:
            %span.all-sum-right!= @money @total_cost

        %form{:name => "message", method=> "post"}
          %section
            %label{:for => "phone"} Телефон:
            %input#phone{:type => "tel", :value => "#{ if @profile.get('phoneNumber') then @profile.get('phoneNumber') }", :name => "phone", :placeholder => "+7"}
            %label{:for => "name"} Ваше имя:
            %input#name{:type => "text", :value => "#{ if @profile.get('name') then @profile.get('name') }", :name => "name"}

        %p.form-comment
          обязательно введите свой телефон для связи
