#kormapp-check-external.center
  #kormapp-check-internal

    .kormapp-check-content
      .kormapp-scrollable-check
        .kormapp-check-header
          %a.kormapp-back-button-link{href: '#'}
            %span.kormapp-back-button
          %h2.kormapp-check-heading Ваш чек

        %ol.kormapp-cart-items

      .kormapp-unscrollable-check

        .kormapp-row.clearfix
          %p.kormapp-delivery-price Стоимость доставки
            %span.kormapp-delivery-sum-right

          %p.kormapp-all-product-sum Итог:
            %span.kormapp-all-sum-right

        %form.order-data{:name => "message", method=> "post"}
          %section
            %label{:for => "phone"} Телефон:
            %input#kormapp-phone{:type => "tel", :name => "phone", :placeholder => "+7(999)999-99-99"}
            %label{:for => "address"} Ваш адрес:
            %input#kormapp-address{:type => "text", :name => "address"}

        %p.kormapp-form-comment
          обязательно введите свой телефон для связи
  
  #kormapp-check-bottom-container
    #kormapp-check-bottom
      .kormapp-check-short-left
      .kormapp-check-short-right
      .kormapp-check-short-center

    .full.kormapp-check-button.kormapp-delivery.kormapp-interactive
      %a.kormapp-check-button-link{:href => "#777"} ДОСТАВИТЬ ЗАКАЗ