%a.kormapp-order-button.kormapp-in-order{:href => "#777"}
  %span.kormapp-to-bucket.kormapp-to-bucket-orange
  %span.kormapp-order-button-text
    В ЗАКАЗE
    %span.kormapp-cart-item-quantity
    шт
