[class^="icon-"], [class*=" icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
 
  /* fix buttons height */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}
 
.icon-glyph { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2a;&nbsp;'); }
.icon-up-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf005;&nbsp;'); }
.icon-glyph-2 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x20ac;&nbsp;'); }
.icon-glyph-3 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2212;&nbsp;'); }
.icon-glyph-4 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2601;&nbsp;'); }
.icon-glyph-5 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2709;&nbsp;'); }
.icon-glyph-6 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x270f;&nbsp;'); }
.icon-glyph-7 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe000;&nbsp;'); }
.icon-glyph-11 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe001;&nbsp;'); }
.icon-glyph-10 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe002;&nbsp;'); }
.icon-glyph-12 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe003;&nbsp;'); }
.icon-glyph-13 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe005;&nbsp;'); }
.icon-glyph-14 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe006;&nbsp;'); }
.icon-glyph-15 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe007;&nbsp;'); }
.icon-glyph-16 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe008;&nbsp;'); }
.icon-glyph-17 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe009;&nbsp;'); }
.icon-glyph-18 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe010;&nbsp;'); }
.icon-glyph-19 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe011;&nbsp;'); }
.icon-glyph-20 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe012;&nbsp;'); }
.icon-glyph-21 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe013;&nbsp;'); }
.icon-glyph-40 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe014;&nbsp;'); }
.icon-glyph-39 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe015;&nbsp;'); }
.icon-glyph-38 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe016;&nbsp;'); }
.icon-glyph-37 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe017;&nbsp;'); }
.icon-glyph-36 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe018;&nbsp;'); }
.icon-glyph-35 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe019;&nbsp;'); }
.icon-glyph-34 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe020;&nbsp;'); }
.icon-glyph-33 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe021;&nbsp;'); }
.icon-glyph-32 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe022;&nbsp;'); }
.icon-glyph-9 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe023;&nbsp;'); }
.icon-glyph-31 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe024;&nbsp;'); }
.icon-glyph-30 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe025;&nbsp;'); }
.icon-glyph-29 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe026;&nbsp;'); }
.icon-glyph-28 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe027;&nbsp;'); }
.icon-glyph-27 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe028;&nbsp;'); }
.icon-glyph-26 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe029;&nbsp;'); }
.icon-glyph-25 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe030;&nbsp;'); }
.icon-glyph-24 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe031;&nbsp;'); }
.icon-glyph-23 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe032;&nbsp;'); }
.icon-glyph-22 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe033;&nbsp;'); }
.icon-glyph-41 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe034;&nbsp;'); }
.icon-glyph-42 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe035;&nbsp;'); }
.icon-glyph-43 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe036;&nbsp;'); }
.icon-glyph-44 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe037;&nbsp;'); }
.icon-glyph-45 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe038;&nbsp;'); }
.icon-glyph-46 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe039;&nbsp;'); }
.icon-glyph-47 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe040;&nbsp;'); }
.icon-glyph-48 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe041;&nbsp;'); }
.icon-glyph-49 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe042;&nbsp;'); }
.icon-glyph-8 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe043;&nbsp;'); }
.icon-glyph-50 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe044;&nbsp;'); }
.icon-glyph-51 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe045;&nbsp;'); }
.icon-glyph-52 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe046;&nbsp;'); }
.icon-glyph-53 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe047;&nbsp;'); }
.icon-glyph-54 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe048;&nbsp;'); }
.icon-glyph-55 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe049;&nbsp;'); }
.icon-glyph-56 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe050;&nbsp;'); }
.icon-glyph-57 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe051;&nbsp;'); }
.icon-glyph-58 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe052;&nbsp;'); }
.icon-glyph-59 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe053;&nbsp;'); }
.icon-glyph-63 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe054;&nbsp;'); }
.icon-glyph-64 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe055;&nbsp;'); }
.icon-glyph-65 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe056;&nbsp;'); }
.icon-glyph-66 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe057;&nbsp;'); }
.icon-glyph-67 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe058;&nbsp;'); }
.icon-glyph-68 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe059;&nbsp;'); }
.icon-glyph-69 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe060;&nbsp;'); }
.icon-glyph-70 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe062;&nbsp;'); }
.icon-glyph-71 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe063;&nbsp;'); }
.icon-glyph-72 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe064;&nbsp;'); }
.icon-glyph-73 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe065;&nbsp;'); }
.icon-glyph-74 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe066;&nbsp;'); }
.icon-glyph-75 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe067;&nbsp;'); }
.icon-glyph-76 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe068;&nbsp;'); }
.icon-glyph-77 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe069;&nbsp;'); }
.icon-glyph-78 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe070;&nbsp;'); }
.icon-glyph-79 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe071;&nbsp;'); }
.icon-glyph-62 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe072;&nbsp;'); }
.icon-glyph-61 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe073;&nbsp;'); }
.icon-glyph-60 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe074;&nbsp;'); }
.icon-glyph-99 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe075;&nbsp;'); }
.icon-glyph-98 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe076;&nbsp;'); }
.icon-glyph-97 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe077;&nbsp;'); }
.icon-glyph-96 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe078;&nbsp;'); }
.icon-glyph-95 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe079;&nbsp;'); }
.icon-glyph-94 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe080;&nbsp;'); }
.icon-glyph-93 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe081;&nbsp;'); }
.icon-glyph-92 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe082;&nbsp;'); }
.icon-glyph-91 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe083;&nbsp;'); }
.icon-glyph-90 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe084;&nbsp;'); }
.icon-glyph-89 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe085;&nbsp;'); }
.icon-glyph-88 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe086;&nbsp;'); }
.icon-glyph-87 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe087;&nbsp;'); }
.icon-glyph-86 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe088;&nbsp;'); }
.icon-glyph-85 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe089;&nbsp;'); }
.icon-glyph-84 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe090;&nbsp;'); }
.icon-glyph-80 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe091;&nbsp;'); }
.icon-glyph-81 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe092;&nbsp;'); }
.icon-glyph-82 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe093;&nbsp;'); }
.icon-glyph-83 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe094;&nbsp;'); }
.icon-glyph-100 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe095;&nbsp;'); }
.icon-glyph-101 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe096;&nbsp;'); }
.icon-glyph-102 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe097;&nbsp;'); }
.icon-glyph-103 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe101;&nbsp;'); }
.icon-glyph-1 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#x2b;&nbsp;'); }
.icon-glyph-105 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe103;&nbsp;'); }
.icon-glyph-106 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe104;&nbsp;'); }
.icon-glyph-107 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe105;&nbsp;'); }
.icon-glyph-108 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe106;&nbsp;'); }
.icon-glyph-109 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe107;&nbsp;'); }
.icon-glyph-110 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe108;&nbsp;'); }
.icon-glyph-111 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe109;&nbsp;'); }
.icon-glyph-112 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe110;&nbsp;'); }
.icon-glyph-113 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe111;&nbsp;'); }
.icon-glyph-114 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe112;&nbsp;'); }
.icon-glyph-115 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe113;&nbsp;'); }
.icon-glyph-116 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe114;&nbsp;'); }
.icon-glyph-117 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe115;&nbsp;'); }
.icon-glyph-118 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe116;&nbsp;'); }
.icon-glyph-119 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe117;&nbsp;'); }
.icon-glyph-139 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe118;&nbsp;'); }
.icon-glyph-138 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe119;&nbsp;'); }
.icon-glyph-137 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe120;&nbsp;'); }
.icon-glyph-136 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe121;&nbsp;'); }
.icon-glyph-135 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe122;&nbsp;'); }
.icon-glyph-134 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe123;&nbsp;'); }
.icon-glyph-133 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe124;&nbsp;'); }
.icon-glyph-132 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe125;&nbsp;'); }
.icon-glyph-131 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe126;&nbsp;'); }
.icon-glyph-130 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe127;&nbsp;'); }
.icon-glyph-129 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe128;&nbsp;'); }
.icon-glyph-128 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe129;&nbsp;'); }
.icon-glyph-127 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe130;&nbsp;'); }
.icon-glyph-126 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe131;&nbsp;'); }
.icon-glyph-125 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe132;&nbsp;'); }
.icon-glyph-124 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe133;&nbsp;'); }
.icon-glyph-123 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe134;&nbsp;'); }
.icon-glyph-122 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe135;&nbsp;'); }
.icon-glyph-121 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe136;&nbsp;'); }
.icon-glyph-120 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe137;&nbsp;'); }
.icon-glyph-141 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe138;&nbsp;'); }
.icon-glyph-140 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe139;&nbsp;'); }
.icon-glyph-142 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe140;&nbsp;'); }
.icon-glyph-143 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe141;&nbsp;'); }
.icon-glyph-144 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe142;&nbsp;'); }
.icon-glyph-145 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe143;&nbsp;'); }
.icon-glyph-146 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe144;&nbsp;'); }
.icon-glyph-147 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe145;&nbsp;'); }
.icon-glyph-148 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe146;&nbsp;'); }
.icon-glyph-149 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe148;&nbsp;'); }
.icon-glyph-150 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe149;&nbsp;'); }
.icon-glyph-151 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe150;&nbsp;'); }
.icon-glyph-152 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe151;&nbsp;'); }
.icon-glyph-153 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe152;&nbsp;'); }
.icon-glyph-154 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe153;&nbsp;'); }
.icon-glyph-155 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe154;&nbsp;'); }
.icon-glyph-156 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe155;&nbsp;'); }
.icon-glyph-157 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe156;&nbsp;'); }
.icon-glyph-158 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe157;&nbsp;'); }
.icon-glyph-159 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe158;&nbsp;'); }
.icon-glyph-160 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe159;&nbsp;'); }
.icon-glyph-161 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe160;&nbsp;'); }
.icon-glyph-162 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe161;&nbsp;'); }
.icon-glyph-163 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe162;&nbsp;'); }
.icon-glyph-164 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe163;&nbsp;'); }
.icon-glyph-165 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe164;&nbsp;'); }
.icon-glyph-166 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe165;&nbsp;'); }
.icon-glyph-168 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe166;&nbsp;'); }
.icon-glyph-167 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe167;&nbsp;'); }
.icon-glyph-169 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe168;&nbsp;'); }
.icon-glyph-170 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe169;&nbsp;'); }
.icon-glyph-171 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe170;&nbsp;'); }
.icon-glyph-172 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe171;&nbsp;'); }
.icon-glyph-173 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe172;&nbsp;'); }
.icon-glyph-174 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe173;&nbsp;'); }
.icon-glyph-175 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe174;&nbsp;'); }
.icon-glyph-176 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe175;&nbsp;'); }
.icon-glyph-177 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe176;&nbsp;'); }
.icon-glyph-178 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe177;&nbsp;'); }
.icon-glyph-179 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe178;&nbsp;'); }
.icon-glyph-181 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe179;&nbsp;'); }
.icon-glyph-182 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe180;&nbsp;'); }
.icon-glyph-183 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe181;&nbsp;'); }
.icon-glyph-184 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe182;&nbsp;'); }
.icon-glyph-185 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe183;&nbsp;'); }
.icon-glyph-186 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe184;&nbsp;'); }
.icon-glyph-187 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe185;&nbsp;'); }
.icon-glyph-188 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe186;&nbsp;'); }
.icon-glyph-189 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe187;&nbsp;'); }
.icon-glyph-190 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe188;&nbsp;'); }
.icon-glyph-192 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe189;&nbsp;'); }
.icon-glyph-191 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe190;&nbsp;'); }
.icon-glyph-193 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe191;&nbsp;'); }
.icon-glyph-194 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe192;&nbsp;'); }
.icon-glyph-195 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe193;&nbsp;'); }
.icon-glyph-196 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe194;&nbsp;'); }
.icon-glyph-197 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe195;&nbsp;'); }
.icon-glyph-198 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe197;&nbsp;'); }
.icon-glyph-199 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe198;&nbsp;'); }
.icon-glyph-200 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe199;&nbsp;'); }
.icon-glyph-180 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe200;&nbsp;'); }
.icon-down-open-big { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe764;&nbsp;'); }
.icon-left-open-big { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe765;&nbsp;'); }
.icon-right-open-big { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe766;&nbsp;'); }
.icon-up-open-big { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe767;&nbsp;'); }
.icon-down-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf004;&nbsp;'); }
.icon-left-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf007;&nbsp;'); }
.icon-right-open { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf006;&nbsp;'); }
.icon-glyph-104 { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe102;&nbsp;'); }